.btn {
  border-radius: 8px;
}

.d-header {
  box-shadow: none;
}

.d-header-icons .d-icon {
  color: $tertiary;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus {
  color: $tertiary-medium;
}

.user-menu .quick-access-panel li a {
  color: $tertiary;
}

.menu-panel li a.widget-link, .menu-panel li.heading a.widget-link {
  color: $tertiary;
}

.badge-wrapper.bullet span.badge-category {
  color: $tertiary;
}

.badge-wrapper .badge-category .category-name {
  font-weight: normal;
}

.user-menu .quick-access-panel li {
  background-color: $primary-low;
}

.nav-pills > li > a {
  border-radius: 8px;
  margin-right: 5px;
}

.nav-pills > li a.active {
  box-shadow: 0px 3px  0px $danger;
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  font-size: $font-up-1;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  font-size: 1.1487em;
  font-weight: normal;
}

input[type="text"]:focus,input[type="password"]:focus
,input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus,
input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="color"]:focus,
textarea:focus {
  border: 2px solid $primary;
  box-shadow: none;
}

.themes-list-header {
  button.tab {
    border-radius: 0px;
  }
}